.project-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 30vh;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 10px;
    background-color: lighten($bgc, 3%);

    img {
        opacity: 0;
        transition: .6s;
        position: absolute;
    }

    &:hover {

        img {
            display: inline;
            width: 100%;
            height: 100%;
            opacity: 1;


        }

        p {
            display: none;
        }
    }

    p {
        font-size: 1.7rem;
        text-align: center;
    }
}