.clients-container {
    display: grid;
    grid-template-columns: 180px 1fr 180px;
    height: 75vh;
}

.clients {
    grid-column: 2;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

}