.clients-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients {
    grid-column: 2;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}