.contact {
    display: flex;
    justify-content: center;

    .contact-container {
        margin: 30px;
        text-align: center;
        padding: 30px;
        width: fit-content;
        background-color: darken($bgc, 10%);

        .form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

        p {
            margin: 5px;
            font-size: 1.4em;
        }

        label {
            grid-column: 1;
            align-self: center;
            font-size: 1.4em;
            justify-self: start;

        }

        input {
            border: none;
            padding: 5px;
            outline: none;
            grid-column: 2;
            align-self: center;
        }

        .text-box {
            padding-bottom: 30px;
        }

        button {
            margin-top: 20px;
        }
    }
}