.home-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    img {
        height: 320px;
    }

    .info-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p {
        text-align: center;
        color: $text;
        font-size: 1.3em;
        background-color: $bgc;
    }

    span {
        color: $brand-color;
        font-weight: 600;
    }
}