.home-page {
    display: flex;
    flex-direction: column;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    img {
        height: 70%;

        .home1 {
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 3s;
            animation-direction: alternate;
        }

        .home2 {
            animation: fadeIn 5s;
        }

        .home3 {
            animation: fadeIn 5s;
        }

        .home4 {
            animation: fadeIn 5s;
        }

    }

    p {
        text-align: center;
        color: $text;
        font-size: 1.3em;
        background-color: $bgc;
    }

    span {
        color: $brand-color;
        font-weight: 600;
    }
}